[submodule "SignalProcessing"]
	path = SignalProcessing
	url = https://github.com/INCORTX/SignalProcessing.git
[submodule "ComputerVision"]
	path = ComputerVision
	url = https://github.com/INCORTX/ComputerVision.git
[submodule "teaching-demo"]
	path = teaching-demo
	url = https://github.com/INCORTX/teaching-demo.git
[submodule "DigitalSignalProcessing"]
	path = DigitalSignalProcessing
	url = https://github.com/INCORTX/DigitalSignalProcessing.git
[submodule "ModernComputerVision"]
	path = ModernComputerVision
	url = https://github.com/INCORTX/ModernComputerVision.git
